<div id="logo">
  PSPI / 2013
</div>

<div class="sidebar-nav">
  <ul class="nav nav-list">
    <%= link_to_page("Aktualności", root_path) %>
    <%= link_to_page("Program studiów", program_path) %>
    <%= link_to_page("Terminarz edycja P501_04, 2012/2013", terminarz_04_path) %>
    <%= link_to_page("Terminarz edycja P501_05, 2013/2014", terminarz_05_path) %>
    <%= link_to_page("Podstawowe informacje", informacje_path) %>
    <%= link_to_page("Jak się zapisać?", zapisy_path) %>
    <%= link_to_page("Materiały pomocnicze do zajęć", materialy_path) %>
  </ul>
</div>
