<% provide(:title, 'Program studiów') %>

<section class="program">

<article class="well">

<h1>Program studiów</h1>

<p>W czerwcu 2012 uległ zmianie ramowy plan studiów.<p>

<table id="siatka-godzin" class="table">
  <thead>
    <tr>
      <th>nazwa przedmiotu
      <th>semestr
      <th>godziny
      <th>wykłady
      <th>ćwiczenia
      <th>ECTS
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "Systemy Operacyjne", "/sylabusy/systemyOper.pdf" %>
      <td>pierwszy
      <td>40
      <td>10
      <td>30
      <td>5
    <tr>
      <td><%= link_to "Wstęp do programowania", "/sylabusy/wstepDoProgr.pdf" %>
      <td>pierwszy
      <td>50
      <td>20
      <td>30
      <td>7
    <tr>
      <td><%= link_to "Algorytmy i struktury danych", "/sylabusy/algorytmy.pdf" %>
      <td>pierwszy
      <td>30
      <td>15
      <td>15
      <td>5
    <tr>
      <td><%= link_to "Języki programowania", "/sylabusy/jezykiProgramowania.pdf" %>
      <td>drugi
      <td>60
      <td>30
      <td>30
      <td>8
    <tr>
      <td><%= link_to "Technologie internetowe", "/sylabusy/technologieInternet.pdf" %>
      <td>drugi
      <td>30
      <td>10
      <td>20
      <td>6
    <tr>
      <td><%= link_to "Pakiety matematyczne w dydaktyce przedmiotów ścisłych i przyrodniczych", "/sylabusy/komputeroweWspomaganie.pdf" %>
      <td>drugi
      <td>30
      <td>10
      <td>20
      <td>6
    <tr>
      <td><%= link_to "Bazy danych", "/sylabusy/bazyDanych.pdf" %>
      <td>trzeci
      <td>50
      <td>20
      <td>30
      <td>8
    <tr>
      <td><%= link_to "Sieci komputerowe", "/sylabusy/sieciKomputerowe.pdf" %>
      <td>trzeci
      <td>20
      <td>10
      <td>10
      <td>4
    <tr>
      <td><%= link_to "Komputer w laboratorium", "/sylabusy/komputerWLab.pdf" %>
      <td>trzeci
      <td>20
      <td>10
      <td>10
      <td>4
    <tr>
      <td><%= link_to "Pracownia dydaktyki informatyki", "/sylabusy/PracowniaDydaktyki.pdf" %>
      <td>trzeci
      <td>30
      <td>10
      <td>20
      <td>7
    <tr>
      <td>Praktyka w szkole<b>*</b>
      <td>trzeci
      <td>60
      <td>0
      <td>60
      <td>5
    <tr class="summary">
      <td>RAZEM (bez praktyki w szkole)
      <td>
      <td>360
      <td>145
      <td>215
      <td>60
    <tr class="summary">
      <td>RAZEM (z praktyką w szkole)
      <td>
      <td>420
      <td>145
      <td>275
      <td>65
  </tbody>
</table>

<p>* Dla zainteresowanych uzyskaniem uprawnień do nauczanie drugiego
przedmiotu:<br>
Zainteresowany jest zobowiązany do wskazania miejsca, terminu i opiekuna praktyki.<br>
Niezbędne dokumenty do pobrania:
<%= link_to "Podanie do Dyrektora Szkoły i zaświadczenie", "/dokumenty/praktyki1.pdf" %>,
<%= link_to "Dziennik Praktyk", "/dokumenty/praktyki2.pdf" %>
i
<%= link_to "Regulamin odbywania praktyk", "/dokumenty/praktyki3.pdf" %>

</article>
</section>
