<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Share:700italic&subset=latin' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span4">
          <%= render partial: "sidebar" %>
        </div>

        <div class="span8">

          <div class="hero-unit">
            <h1>Podyplomowe Studia Podstaw Informatyki</h1>
            <p><address>Sekretariat: mgr Halina Makarewicz,
             Instytut Fizyki Doświadczalnej UG, pok. 338,
             tel. (0-58) 523 22 28, e-mail: fizhm@univ.gda.pl</address>
            <p id="mission">PSPI sa wspólną inicjatywą Instytutów:
              Fizyki Doświadczalnej, Informatyki oraz Fizyki Teoretycznej
              i Astrofizyki Wydzialu MFI Uniwersytetu Gdańskiego.
              Studia prowadzone są od 1994 roku.
              Do tej pory ukończyło je XXXX absolwentów.
            </p>
          </div>

          <%= yield %>

        </div>

      </div>

    </div>

  </body>
</html>
