<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Share:700italic&subset=latin' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application", :media => "all" %>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span4">
          <%= render partial: "sidebar" %>
        </div>

        <div class="span8">

          <div class="hero-unit">
            <h1>Podyplomowe Studia Podstaw Informatyki</h1>
            <p><address>Sekretariat: mgr Mariola Grabowska
                e-mail: pspi@ug.edu.pl
                tel: 58 523 2211<br>
                Kierownik: dr inż. Janusz Młodzianowski,
                e-mail: pspi@ug.edu.pl, tel. 58 523 2282</address>
            <p id="mission">PSPI są wspólną inicjatywą Instytutów:
              Fizyki Doświadczalnej, Informatyki oraz Fizyki Teoretycznej
              i Astrofizyki Wydzialu MFI Uniwersytetu Gdańskiego.
              Studia prowadzone są od 1994 roku.
            </p>
          </div>

          <%= yield %>

        </div>

      </div>

    </div>

  </body>
</html>
